@font-face {
  font-family: "Joost";
  src: url("./assets/fonts/Joost-Medium.ttf") format("truetype");
  
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";

@theme{
  --font-joost:joost," sans-serif";
}
@theme{
  --font-Poppins:Poppins," sans-serif";
}


    